name: Publish

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  publish-jsr:
    name: Publish to JSR
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2

      - name: Publish to JSR
        run: deno publish
